
<!DOCTYPE html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
  <form action="/abspann/show" method="GET">
    <fieldset>
      <input type="number" name="dur" id="dur" value="5">
      <label for="dur">Länge in Sekunden</label>
      <input type="text" name="url" id="url" placeholder="https://md.margau.net/s/release-notes" required>
      <label for="url">Link zum Pad</label>
      <input type="text" name="color" id="color" value="000000">
      <label for="url">Textfarbe (HTML Farbcode</label>
      <input type="submit"/>
    </fieldset>
  </form>

<script>

</script>
</body>
