
<!DOCTYPE html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <style>
  * {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }
    #scene {
        position: absolute;
        width: 1920px;
        height: 1080px;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 2;
        outline-style: solid;
        outline-color: black;
        outline-width: thin;
    }
    #buttonbox {
      position: absolute;
      top: 1085px;
      z-index: 4;
    }
#overlay {
  width: 1920px;
  line-height: 1.6;
  position: absolute;
  top: 1080px;
  left: 0px;
  z-index: 3;
  text-align: center;
  font-size: 40px;
  color: #<%- color %>;
}
#overlay h1 {
  padding-top: 400px;
}
#overlay h2 {
  padding-top: 100px;
}

</style>
<script src="/anime.min.js"></script>
</head>
<body>
<div id="buttonbox">
    <button class="play">Play</button>
    <button class="pause">Pause</button>
</div>
<div id="scene">
</div>
<div id="overlay">
</div>

<script>

// Settings
var fps=25, dur = <%- duration %>;
var url="<%- url %>";

var converter = new showdown.Converter({simpleLineBreaks:true});
$(function(){
  $.get(url, function (data) {
    $("#overlay").html(converter.makeHtml(data));
    anim();
  });

});

var tl = anime.timeline({
autoplay: false,
});

var scene = document.querySelector('#scene');
function anim() {
  var target = "#overlay"
  tl.add({
    targets: target,
    translateY: -$("#overlay").height()-1080,
    easing: 'linear',
    duration: dur*1000
  });
}

// Render stuff
document.querySelector('.play').onclick = tl.play;
document.querySelector('.pause').onclick = tl.pause;

function getInfo() {
  return {"fps": fps, "numberOfFrames": dur*fps};
}
function seekToFrame(frame) {
  t = (frame)/fps;
  tl.tick(t*1000);
  //return requestAnimationFrame(seekToFrame);
}
</script>
</body>
